# myenv/
# cv.txt
# project.rar
# Archive/
# __pycache__/
# # app/__pycache__/
# # app/llm4allV1.1.ipynb
# # app/Job Description1.txt
# # app/cv.txt
# app/__pycache__/
# app/llm4allV1.1.ipynb
# app/Job Description1.txt
# app/cv.txt
# app/cover_letter.txt


myenv/
*.rar
__pycache__/
app/__pycache__/
app/*.ipynb
app/*.txt
